BasedOnStyle: Google

DerivePointerAlignment: false
PointerAlignment: true
Standard: C++11

AllowShortLoopsOnASingleLine: false
ColumnLimit: 90
Cpp11BracedListStyle: false
IncludeBlocks: "Preserve"
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: "ControlStatements"
# SpaceInEmptyBlock: true

# vim: ft=yaml
