BasedOnStyle: Google

DerivePointerAlignment: false
PointerAlignment: true
Standard: c++17

AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
# AllowShortLoopsOnASingleLine: false
ColumnLimit: 90
Cpp11BracedListStyle: false
IncludeBlocks: "Preserve"
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: "ControlStatements"
SpaceInEmptyBlock: true

# vim: ft=yaml
